{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <form action="/login" method="post" id="login">
            <div class="form-group">
                {% if invalid_un == True %}
                    <input autocomplete="off" autofocus class="form-control is-invalid" name="username" placeholder="Username" type="text">
                    <div class="invalid-feedback"><b>{{ error_msg }}</b></div>
                {% else %}
                    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                {% endif %}
            </div>
    </div>
    <div class="row justify-content-center">
            <div class="form-group">
                {% if invalid_pw == True %}
                    <input autocomplete="off" autofocus class="form-control is-invalid" name="password" placeholder="Password" type="password">
                    <div class="invalid-feedback"><b>{{ error_msg }}</b></div>
                {% else %}
                    <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Password" type="password">
                {% endif %}
            </div>
        </form>
    </div>
    <div class="row justify-content-center align-items-center">
            <button class="btn btn-primary" type="submit" form="login">Log In</button>
    </div>

{% endblock %}